:root {
  --bg-desktop: url("./images/bg-intro-desktop.png");

  --width-mobile: 375px;
  --width-desktop: 1440px;

  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);

  --blue: hsl(248, 32%, 49%);

  --darkblue: hsl(249,10%,26%);
  --grayblue: hsl(246,25%,75%);

  --font: "Poppins";
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: var(--bg-desktop);
  background-size: cover;
  background-color: var(--red);

  font-family: var(--font);
}

h1, p {
  color: white;
}

h1 {
  /* font-weight: 700; */
  font-size: 2.7em;
}

p {
  font-size: 1em;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0 9.5em;
}

.col-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;

  box-sizing: border-box;
  padding-left: 4.5em;
  padding-right: 3.5em;

  font-size: 1.3em;
}

.col-left > * {
  box-sizing: border-box;
  width: 100%;
}

.col-left h1 {
  line-height: 1.1em;
  margin: 0.25em 0;
}

.col-right {
  width: 50%;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  padding: 0 6em;
}

.col-right > * {
  box-shadow: 0 7px rgba(0,0,0,0.15)
}

.trial-btn {
  background-color: var(--blue);
  color: white;
  text-align: center;
  box-sizing: border-box;
  width: 100%;

  border-radius: 8px;
  padding: 1.3em;

  margin-bottom: 1.5em;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  width: 100%;

  /* border: 1px solid black; */
  border-radius: 8px;
  padding: 3em;

}

.card form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card form input {
  padding: 0.9em 1.8em;
  margin-bottom: 1.5em;
  border-radius: 6px;

  border: 1px solid lightgray;

  font-family: var(--font);
  font-weight: 700;
  color: var(--darkblue);
  caret-color: var(--blue);
  font-size: 1em;
  line-height: 1em;

  outline: transparent solid 1px;
  transition: outline 0.2s;
  box-sizing: border-box;
}

.card form input::placeholder  {
  font-weight: 700;
}

.input-control input:focus, .input-control input:hover{
  outline: var(--blue) solid 1px;
}

.claim-btn {
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 1.25em;
  border-radius: 6px;
  border: none;
  background-color: var(--green);

  border: 1px solid transparent;
  transition: border 0.2s;

  cursor: pointer;
}

.claim-btn:hover{
  border: 1px solid var(--grayblue);
}

.claim-btn p {
  font-weight: 700;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.agreement-txt {
  text-align: center;
  color: rgba(0,0,0,0.2);
  font-weight: 600;
}

.agreement-txt a {
  text-decoration: none;
  color: var(--red)
}

footer {
  position: absolute;
  bottom: 0;
}

.input-control {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-control label {
  display: block;
  height: 0;
  width: 0;
}

.input-control input {
  width: 100%;
}

/* .input-control.success input {
  border-color: var(--green);
} */

.input-control.error input {
  border: 2px solid var(--red);
}

.input-control.error input:focus, .input-control.error input:hover {
  outline: transparent solid 1px;
}

.input-control .error {
  color: var(--red);
  font-size: 0.8em;
  position: absolute;
  top: -1.5em;
}


@media screen and (max-width: 850px) {
  main {
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    padding: 4em 1.25em;
  }

  .col-left {
    flex: 1;
    text-align: center;
    padding: 0;
    width: 100%;
  }

  .col-left h1 {
    font-size: 1.25em;
    line-height: 1.4em;
    margin: 0.25em;
  }

  .col-left p {
    font-size: 0.75em;
  }
  
  .col-right {
    flex: 1;
    width: 100%;
    padding: 0;
  }

  .card {
    padding: 1.4em;
  }
}